*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
ul{
    list-style: none;
    margin:0;
    padding:0px;
}
a{
    text-decoration:none;
}
.color-font{
    color: rgb(247, 187, 75);
}
.sec-bars{
    display: none;
}
/* nav */
.cont-nav{
    padding: 25px 100px;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index:1;
    background-color:rgb(14, 14, 40);
}
.cont-nav h1{
    font-size: 2.5em;
    font-family: 'Roboto Slab', serif;
}
.ul-menu{
    display: flex;
}
.ul-menu a{
    display: inline-block;
    margin-left:5px;
    color:#dfdfdb;
    font-weight: 600;
    padding: 5px 15px;
}
.ul-menu .li-menu a:hover{
    background-color: rgba(10, 10, 28, 0.92);
    color: #b4b4b3;
    border-radius: 5px;
}
.ul-menu .li-menu a.curriculo:hover{
    background-color: rgb(247, 187, 75);
    color: #ffffff;
    border-radius: 5px;
}
/* container e body */
body,html{
    scroll-behavior:smooth;
    background-image: url(../media/imagens/background.jpg);
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    font-family: 'Nunito', sans-serif;
}
.container{
    width:100%;
}
.cont{
    background:#0d0d0df9;
    width:100%;
}
/*home*/
.cont-div-home{
    background-color:rgba(12, 12, 12, 0.866);
    width:100%;
    height:100vh;
}
.sec-home-text{
    width:90%;
    text-align:center;
    word-wrap: break-word;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    animation: tex 2.5s 1  ease-in-out;
}
@keyframes tex{
    from{
        opacity:0;
        left:0;
    }
    to{
        opacity:1;
        left:50%;
    }
}
.sec-home-text .h1{
    font-size:2.5rem;
    margin-bottom:15px;
    font-weight:90px;
    font-family: 'Roboto Slab', serif;
}
.sec-home-text .p{
    color:#ffff;
    font-size:1.4rem;
    padding:20px 0px;
}
.sec-btn-home{
    padding:10px 0px;
}
.sec-btn-home .btn-home{
    padding:10px 30px;
    font-size:1.5em;
    background-color:#141414;
    border:1px solid black;
    color:#ffff;
    border-radius:5px;
    cursor: pointer;
    outline:none;
    transition:background-color 0.3s;
}
.sec-btn-home .btn-home:hover{
    background-color: #313030;
}
/* sobre-mim */
.cont-div-sobre{
    width:70%;
    height: 100%;
    text-align:center;
    border-right:1px solid rgba(255, 255, 255, 0.205);
}
.cont-div-sobre .sec-img{
    padding:4px 0px;
}
img.img{
    border-radius:50%;
    width:15%;
    opacity:0.5;
    cursor:pointer;
    transition: all 0.9s;
}
img.img:hover{
    opacity:1;
    transform:scale(1.1);
}
.sec-sobre-text{
    width:70%;
    margin:4% auto;
    padding: 5px;
    line-height:25px;
    color:#ffff;
}
.parent-sobre-skills{
    display: flex;
}
/* skills */
.cont-div-skills{
    text-align:center;
    width:30%;
}
.span-skills{
    display: block;
    cursor:pointer;
}
.span-skills .img-skills{
    width:50px;
    margin-bottom:3.5px;
}
/* projeto */
.sec-pro{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.div-pro{
    text-align: center;
    width: 400px;
}
.div-pro img{
    border-radius: 2px;
    width:150px;
    height:90px;
    object-fit: cover;
    opacity:0.5;
    border: 1px solid rgba(135, 135, 135, 0.413);
    transition: all 0.5s;
}
.div-pro img:hover{
    transform: scale(1.1);
    cursor: pointer;
    opacity: 1.0;
}
.div-pro h6{
    color:#ffff;
    font-size: 0.9em;
}
.div-pro p{
    color:#ffff;
    font-size: 0.8em;
    word-break: break-all;
    padding: 15px;
}
/* contata */
.cont-div-contato{
    padding:20px 0px;
}
.cont-div-contato a{
    color:#ffff;
    text-decoration: underline;
}
.ul-contato{
    display:flex;
    justify-content:center;
}
.li-contato{
    padding: 15px;
}
.span-mail{
    display:block;
    padding:20px 0px;
    text-align:center;
}
/* footer */
.div-footer{
    background-color: rgb(17, 17, 49);
    padding:20px 0px;
    text-align: center;
}
.li-contato a i{
    font-size:1.5rem;
}
/* padrao */
.sec-title{
    padding:30px 0px 25px 0px;
    font-size:1.5rem;
    text-align:center;
    border-top:1px solid rgba(255, 255, 255, 0.205);
    font-family: 'Roboto Slab', serif;
}

/* media */
@media screen and (max-width:751px){
    .sec-bars{
        display:block;
        position: relative;
        right:20px;
    }
    .sec-bars i{
        font-size:2.2rem;
        color:rgb(247, 187, 75);
    }
    /* nav */
    .cont-nav{
        width: 100%;
        padding: 20px;
    }
    .cont-nav .ul-menu{
        display: none;
        background-color:#141414;
        position: absolute;
        top:90px;
        width:100vmax;
        height: 100vh;
        right:0px;
        text-align: center;
        border-bottom:1px solid rgba(255, 255, 255, 0.663);
        
        width:100%;
        padding: 50px 0px;
    }
    .ul-menu .li-menu{
        margin-bottom: 15px;
        position: relative;
        right: 160px;
    }
    .ul-menu .li-menu a{
        padding:15px 0px;
        width:30%;
        margin-right:0px;
        position: relative;
        left:50%;
        transform:translatex(-50%);
    }
    /* sobre-mim */
    .cont-div-sobre{
        width:100%;
        height: 100%;
    }
    .cont-div-sobre .sec-img{
        padding:20px 0px;
    }
    img.img{
        width:45%;
        opacity:1;
    }
    img.img:hover{
        transform:scale(1.1);
    }
    .sec-sobre-text{
        width:90%;
    }
    /* flex do sobre e skills e animacao */
    .parent-sobre-skills{
        display: flex;
        flex-direction: column;
    }
    /* skills */
    .parent-skills{
        display:flex;
        justify-content: center;
        flex-direction:row;
        flex-wrap:wrap;
    }
    .cont-div-skills{
        width:100%;
        height:100%;
        padding: 10px;
    }
    .span-skills .img-skills{
        width:40px;
        margin-left:25px;
    }
    .fig-skills{
        font-size:1.08rem;
    }
    .span-pro .img-pro{
        opacity:1;
        transition: all 1s;
    }
    .img-pro:hover{
        opacity: 1.0;
    }
}
