*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
ul{
    list-style: none;
    margin:0;
    padding:0px;
}
a{
    text-decoration:none;
}
.sec-bars{
    display: none;
}
/* nav */
.cont-nav{
    background-color:#141414 ;
    width:100%;
    padding: 20px 0px;
    display:flex;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    z-index:1;
    border-bottom:1px solid #ffff;
}
.cont-nav .ul-menu{
    display:flex;
    margin-right:10px;
}
.ul-menu .li-menu a{
    color:#F5F5DC;
    display:block;
    margin-right:15px;
    padding:10px 5px;
    border-radius:5%;
}
.ul-menu .li-menu a:hover{
    color:#141414;
    background-color:orange;
}
/* container e body */
body{
    background-image: url(../_imagens/bg.jpg);
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    font-family: 'Nunito', sans-serif;
}
.container{
    width:100%;
}
.cont{
    background:#141414ee;
    width:100%;
}
/*home*/
.cont-div-home{
    background-image:linear-gradient( rgba(77, 76, 76, 0.658),rgba(12, 12, 12, 0.473));
    width:100%;
    height:100vh;
}
.sec-home-text{
    width:90%;
    text-align:center;
    word-wrap: break-word;
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    animation: tex 2.5s 1  ease-in-out;
}
@keyframes tex{
    from{
        opacity:0;
        left:0;
    }
    to{
        opacity:1;
        left:50%;
    }
}
.sec-home-text .h1{
    font-size:2.5rem;
    margin-bottom:15px;
    color:orange;
}
.sec-home-text .p{
    color:#ffff;
    font-size:1.3rem;
    padding:20px 0px;
}
.sec-btn-home{
    padding:10px 0px;
}
.sec-btn-home .btn-home{
    padding:10px 30px;
    font-size:1.5em;
    background-color:#141414;
    border:1px solid black;
    color:#ffff;
    border-radius:5px;
    cursor: pointer;
    outline:none;
    transition:background-color 1s;
}
.sec-btn-home .btn-home:hover{
    background-color: #313030;
}
/* sobre-mim */
.cont-div-sobre{
    width:70%;
    height: 100vh;
    text-align:center;
    border-right:1px solid rgba(255, 255, 255, 0.205);
}
.cont-div-sobre .sec-img{
    padding:20px 0px;
}
img.img{
    border-radius:50%;
    width:20%;
    opacity:0.5;
    cursor:pointer;
    transition: all 2s;
}
img.img:hover{
    opacity:1;
    transform:scale(1.3);
}
.sec-sobre-text{
    width:70%;
    margin:5% auto;
    padding: 10px;
    line-height:25px;
    color:#ffff;
    border:1px solid orange;
}
/* flex do sobre e skills e animacao */
@keyframes animation-position{
    from{
        transform: translatex(-900px);
    }
    to{
        transform: translatex(0px);
    }
}
.parent-sobre-skills{
    opacity:0;
    display: flex;
}

.position{
    animation: animation-position 3s;
    opacity:1;
}
/* skills */
.cont-div-skills{
    text-align:center;
    width:30%;
    height:100vh;
}
.span-skills{
    display: block;
    padding:7px 0px;
    cursor:pointer
}
.span-skills .img-skills{
    width:20%;
    border:2px solid orange;
    margin-bottom:5px;
}
.fig-skills{
    padding:10px 0px;
    color:#ffff;
    font-size:1.05rem;
}
/* projeto */
.cont-div-pro{
    height:100%;
    width:100%;
}
.parent-pro{
    padding: 10px 15px;;
    display: flex;
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
}
.span-pro .img-pro{
    border:2px solid #ffff;
    border-radius: 2px;
    width:200px;
    height:130px;
    opacity:0.5;
    transition: all 1s;
}
.img-pro:hover{
    opacity: 1.0;
    animation: bd 1s infinite;
    animation:sc 1s infinite alternate;
}
@keyframes bd{
    0%{
        border-top:2px solid orange;
    }
    25%{ 
        border-right:2px solid orange;
    }
    50%{ 
        border-bottom:2px solid orange;
    }
    75%{ 
        border-left:2px solid orange;
    }
    100%{ 
        border-top:2px solid orange;
    }
}
@keyframes sc{
    from{
        transform:scale(1);
    }
    to{
        transform:scale(1.2)
    }
}
.span-pro .span-a-pro{
    padding: 10px;
    text-align: center;
    display:block;
    margin:0px 20px;
}
.span-pro .fig-pro{
    text-align: center;
    font-size:1.0rem;
    padding:15px 0px;
    color:#ffff;
}
/* contata */
.cont-div-contato{
    padding:20px 0px;
}
.cont-div-contato a{
    color:#ffff;
    text-decoration: underline;
}
.ul-contato{
    display:flex;
    justify-content:center;
}
.li-contato{
    padding: 15px;
}
.span-mail{
    display:block;
    padding:20px 0px;
    text-align:center;
}
/* footer */
.div-footer{
    padding:20px 0px;
    text-align: center;
    color:orange;
}
.li-contato a i{
    font-size:1.5rem;
}
/* padrao */
.sec-title{
    padding:30px 0px 25px 0px;
    font-size:1.5rem;
    text-align:center;
    border-top:1px solid rgba(255, 255, 255, 0.205);
    color:orange;
}

/* media */
@media screen and (max-width:751px){
    .sec-bars{
        display:block;
        position: relative;
        right:20px;
    }
    .sec-bars i{
        font-size:2.2rem;
        color:orange;
    }
    /* nav */
    .cont-nav .ul-menu{
        border-bottom:1px solid #ffff;
        text-align:center;
        width:100%;
        height:100vh;
        display:none;
        flex-direction:column;
        margin-right:0px;
        background-color:#141414;
        padding-top:10px 0px;
        position:absolute;
        top:75px;
        
    }
    .ul-menu .li-menu{
        margin-bottom: 10px;
    }
    .ul-menu .li-menu a{
        padding:15px 0px;
        width:30%;
        margin-right:0px;
        position: relative;
        left:50%;
        transform:translatex(-50%);
    }
    /* sobre-mim */
    .cont-div-sobre{
        width:100%;
        height: 100%;
    }
    .cont-div-sobre .sec-img{
        padding:20px 0px;
    }
    img.img{
        width:45%;
        opacity:1;
    }
    img.img:hover{
        transform:scale(1.1);
    }
    .sec-sobre-text{
        width:90%;
    }
    /* flex do sobre e skills e animacao */
    .parent-sobre-skills{
        display: flex;
        flex-direction: column;
    }
    /* skills */
    .parent-skills{
        display:flex;
        flex-direction:row;
    }
    .cont-div-skills{
        width:100%;
        height:100%;
    }
    .span-skills .img-skills{
        width:50%;
    }
    .fig-skills{
        font-size:1.08rem;
    }
    .span-pro .img-pro{
        opacity:1;
        transition: all 1s;
    }
    .img-pro:hover{
        opacity: 1.0;
    }
}